@model CommonComponent.Models.Category

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <h3>Add new Category</h3>

        </div>
        @* <div class="col-md-6 " style="margin-top : 25px; color:blue; margin-left:-50px">
            @Html.ActionLink("Back to category list", "Index")
            </div>*@

        <div class="clearfix"></div>
        <br />

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="nav nav-tabs-custom" style="background-color:white; border-left:solid 1px; border-bottom:solid 1px; border-color:#ddd; ">

                <ul class="nav nav-tabs" style="border-bottom:solid 1px; border-color:#ddd; background-color:white;">
                    <li class="active" style="border-top:solid 1px; border-right:solid 1px; border-color:#ddd;">
                        <a data-toggle="tab" href="#Category_Info">Category Info</a>
                    </li>
                    <li class="" style="">
                        <a data-toggle="tab" href="#Image">Image</a>
                    </li>


                </ul>
                @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="tab-content" style="border-right:solid 1px; border-color:#ddd">
                        <div id="Category_Info" class="tab-pane fade active in">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body" style="border:solid 1px; border-color:#ddd">


                                        <div class="from-group">
                                            <div class="col-md-3">
                                                <label class="label-wrapper ">
                                                    @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label" })
                                                    <i class="glyphicon glyphicon-question-sign color-blue" title="Category Name"></i>
                                                </label>


                                            </div>

                                            @*  @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-3 text-right" })*@
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                                <i class="glyphicon glyphicon-question-sign color-blue" title="Description"></i>
                                            </div>

                                            <div class="col-md-9">
                                                @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })

                                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <br />

                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.DisplayOrder, htmlAttributes: new { @class = "control-label" })
                                                <i class="glyphicon glyphicon-question-sign color-blue" title="Order Details"></i>
                                            </div>
                                            <div class="col-md-9">


                                                @Html.EditorFor(model => model.DisplayOrder, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.DisplayOrder, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                                                <i class="glyphicon glyphicon-question-sign color-blue" title="Order Details"></i>
                                            </div>
                                            <div class="col-md-9">
                                                <input id="file" type="file" name="file" />
                                                @Html.HiddenFor(model => model.CategoryId)
                                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                        <div class="form-group">
                                            <div class="col-md-3">
                                                @* @Html.EnumDropDownListFor(model =>model.Published)*@
                                                @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label" })
                                                <i class="glyphicon glyphicon-question-sign color-blue" title="Published details"></i>
                                            </div>

                                            <div class="col-md-9 ">
                                                @Html.CheckBoxFor(model => model.Published, new { htmlAttributes = new { @class = "form-control pull-left" } })

                                                @*@Html.EditorFor(model => model.Published, new { htmlAttributes = new { @class = "form-control pull-left" } })*@
                                                @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Create" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="Image" class="tab-pane fade">
                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-body" style="border:solid 1px; border-color:#ddd">

                                        <div class="from-group">
                                            <div class="col-md-3">
                                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                                                <i class="glyphicon glyphicon-question-sign color-blue" title="Category Image"></i>
                                            </div>
                                            <div class="col-md-9">
                                                <input name="Image" type="file" />
                                                @Html.ValidationMessageFor(model => model.Image)
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Upload" class="btn btn-default" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>

}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
